<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logDirectory" value="${basedir}/logs"/>
	<variable name="standartLayout" value="${time} | ${callsite} | ${level:uppercase=true}${newline}${message}${exception}${newline}---------------------------------------------------------------------------------"/>
	<targets>
		<target name="asyncFile" xsi:type="AsyncWrapper">
			<target name="All" xsi:type="File" fileName="${logDirectory}/${shortdate}/${level}.txt" layout="${standartLayout}"/>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="asyncFile" />
	</rules>
</nlog>