<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logDirectory" value="${basedir}/logs"/>
	<variable name="standartLayout" value="${time} | ${callsite} | ${level:uppercase=true}${newline}${message}${exception}${newline}---------------------------------------------------------------------------------"/>
	<targets>
		<target xsi:type="File" name="unique" fileName="${logDirectory}/${shortdate}/${level}.log" layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${newline}" />
		<target xsi:type="File" name="full" fileName="${logDirectory}${shortdate}//Full.log" layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${exception} ${newline} ${event-context:item=callerpath}:${event-context:item=callermember}(${event-context:item=callerline}) ${newline}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="unique" />
		<logger name="*" minlevel="Warn" writeTo="full" />
	</rules>
</nlog>